.section-name{
    background-color: rgb(237, 239, 243);
    margin: auto;
    width: 200px;
    border-radius: 15px;
   
   
   
}
.team{
    border: 1px solid rgb(199, 192, 192);
   
    width: 365px;
    

}
.team-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;

}
